<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Drauger OS Development</vendor>
  <vendor_url>https://draugeros.org/go</vendor_url>

  <action id="org.drauger.block-advert.policy">
    <description>Use the PolicyKit backend to allow block-advert administrative access</description>
    <message>Authentication is required to edit /etc/hosts file.</message>
    <message xml:lang="en_US">Authentication is required to edit /etc/hosts file.</message>
    <message xml:lang="en_AU">Authentication is required to edit /etc/hosts file.</message>
    <message xml:lang="en_GB">Authentication is required to edit /etc/hosts file.</message>
    <icon_name>alert</icon_name>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/block-advert</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
